.categories-page-theme-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.category-page-theme {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
}
.category-page-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
}
.category-page-top-btn {
    color:  #A9A9A9;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    padding: 0;
    height: 16px;
    background-color: transparent;
    border: none;
}
.category-grid, .category-list{
    stroke:  #A9A9A9;
}
.categories-page-grid-icon {
    color: black; 
}
.categories-page-form-item {
    font-size: 14px;
}
.categories-page-icon {
    @include categories-icon;
    width: 100px;
}
.categories-page-chek-box{
    max-width: 820px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.categories-page-chek-item{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 9px 16px 11px;
    gap: 16px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    margin-bottom: 16px;
}
.categories-chek-input{
    width: 20px;
    height: 20px;
    border: 1.5px solid #D1D1D1;
}
.categories-chek-input:checked{
    background-color: #151515;
    border-color: #151515;
}
.categories-chek-input2{
    width: 20px;
    height: 20px;
    border: 1.5px solid #D1D1D1;
}
.categories-chek-input2:checked{
    background-color: #6A983C;
    border-color: #46760A;
    &:focus{
        box-shadow: none;
    }
}
.chek-item-commit{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 5px 0 0;
}
.chek-item-category{
    display: flex;
    align-items: center;
    padding: 0px 8px;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.categories-page-sellect{
    display: flex;
    align-items: center;
    padding: 0px;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.categories-page-top-mini-theme {
    color:  #A9A9A9;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    padding-right: 15px;
    min-width: 100px;
}
.categories-page-top-icon {
    @include categories-icon;
    padding-right: 24px;
    margin-right: 12px;
    position: relative;
    min-width: 118px;

    &::before {
    position:absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 5px;
    right: 8px;
    background-image: url(../images/x-icon.svg);
    }
}
.categories-page-left{
    margin-left: auto;
}
.categories-page-left-theme {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}
.categories-page-left-item{
    min-width: 200px;
    max-width: 250px;
    margin-bottom: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.categories-page-amount {
    @include categories-icon;
}
.categories-page-rating-item{
    position: relative;
    width: 120px;

    &:nth-last-child(5)::before {
        position: absolute;
        content: "";
        width: 88px;
        height: 16px;
        top: 3px;
        right: 0;
        background-image: url(../images/star5.svg);
    }
    &:nth-last-child(4)::before {
        position: absolute;
        content: "";
        width: 88px;
        height: 16px;
        top: 3px;
        right: 0;
        background-image: url(../images/star4.svg);
    }
    &:nth-last-child(3)::before {
        position: absolute;
        content: "";
        width: 88px;
        height: 16px;
        top: 3px;
        right: 0;
        background-image: url(../images/star3.svg);
    }
    &:nth-last-child(2)::before {
        position: absolute;
        content: "";
        width: 88px;
        height: 16px;
        top: 3px;
        right: 0;
        background-image: url(../images/star2.svg);
    }
    &:nth-last-child(1)::before {
    position: absolute;
    content: "";
    width: 88px;
    height: 16px;
    top: 3px;
    right: 0;
    background-image: url(../images/star1.svg);
    }
}
/* min-max input price start */
.price-input{
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.categories-page-slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.categories-page-slider .categories-page-progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #6A983C;
}
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
    -webkit-appearance: none;
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
/* min-max input price end */
.categories-page-card{
    min-width: 720px;
    height: 282px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    margin: 0;
    margin-bottom: 32px;
}
.categories-page-card-img{
    border-radius: 12px;
    width: 270px;
    height: 280px;
}
  .categies-page-card-item{
    width: 68%;
    display: flex;
    justify-content: space-between;
    padding: 32px;
  }
  .categories-page-card-item-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .categories-page-right-commit{
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 10px;
  }
.categories-page-card-commit{
    color: #A9A9A9;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 12px;
}
.categories-page-green-color{
    color: #6A983C;
}
.categories-page-left-commit{
    color: #A9A9A9;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.categories-page-del-prise{
    text-decoration-line: line-through;
}
.categories-page-product-detail{
    @include product-detail;
    position: relative;
    padding-right: 40px;
    margin-bottom: 12px;
    min-width: 170px;
    height: 47px;

    &::after{
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        top: 14px;
        right: 15px;
        background-image: url(../images/ic-chevron-right.svg);
    }
}
.categories-page-apply-btn{
    @include product-detail;
    height: 48px;
}
.categories-page-reset-btn{
    margin-left: 34px;
    color: #A9A9A9;
    border: none;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 15px;    
    line-height: 22px;
    width: 67px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 12px;
}
.categories-page-wish-list{
    @include wish-list;
    padding-left: 36px;
    position: relative;
    min-width: 170px;
    padding-top: 15px;

    &::before{
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        top: 15px;
        left: 15px;
        background-image: url(../images/ic-actions-heart.svg);  
    }
}
/*-----------grid-and-list active classes----------- */
.categories-right-card-grid{
    display: none;
}
.categories-right-card-list{
    display: none;
}
.category-active{
    display: block;
}
.category-active-btn{
    color: #151515;
    stroke: #6A983C;
}
/*-----------grid-and-list active classes----------- */
.categories-page-card-list{
    position: relative;
    width: 268px;
    height: 100%;
    align-items: flex-start;
    margin: 0px 30px 48px 0px;
    padding: 16px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}
.categories-page-card-list-img{
    border-radius: 12px;
    width: 236px;
    height: 180px;
    margin-bottom: 16px
}
.categories-page-card-img-sale{
    @include categories-icon;
    position: absolute;
    top: 28px;
    left: 28px;
}
.categories-page-card-item{
    width: 100%;
}
.categories-page-right-card-theme{
    margin-bottom: 4px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.categories-page-buy-now{
    @include product-detail;
    padding: 6.5px 12px;
    text-decoration: none;
    height: 36px;
}
.categories-page-list-card-bt-box{
    display: flex;
    justify-content: space-between;
}
.categories-page-show-more-btn{
    @include product-detail;
    padding-right: 40px;
    position: relative;

    &::after{
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        top: 15px;
        right: 15px;
        background-image: url(../../images/ic-chevron-down.svg);
    }
}

@media only screen and (max-width: 980px) {
   .categories-page-content-box{
        flex-direction: column;
    } 
    .categories-page-theme-box{
        flex-wrap: wrap;
    }
    .categories-page-chek-box{
        flex-wrap: wrap;
    }
    .categories-page-left{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .categories-page-theme-box{
        flex-wrap: wrap;
    }
    .categories-page-chek-box{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 740px) {
    .categories-right-card-grid{
        display: none;
    }
    .categories-right-card-list{
        display: block;
    }
}
@media only screen and (max-width: 740px) {
    .categories-page-content-box{
        padding: 0 50px;
    }
    .categories-page-card-list{
        margin-right: 10px;
    } 
}
@media only screen and (max-width: 630px) {
    .container{
        padding: 0 15px;
    }
    .categories-right-card-row{
        flex-direction: column;
        align-items: center;
    } 
}
